<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="/assets/css/academicons.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script>
    window.addEventListener('load', function() {
        if (localStorage.getItem('nv') === 't') return;
        var d = {p: location.pathname + location.search, r: document.referrer, t: document.title, s: screen.width};
        var q = Object.keys(d).filter(function(k) { return d[k] }).map(function(k) { return k + '=' + encodeURIComponent(d[k]) }).join('&');
        navigator.sendBeacon('https://gc-worker.alpoktem.workers.dev/v?' + q);
    });
    </script>
</head>
