<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    {% if page.url == "/" %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Alp Öktem",
      "url": "https://alp.oktem.me",
      "jobTitle": "Speech Technology & NLP Researcher",
      "description": "Speech technology and NLP researcher building language tech for underrepresented languages.",
      "sameAs": [
        "https://github.com/alpoktem",
        "https://www.linkedin.com/in/alp-oktem",
        "https://scholar.google.es/citations?user=dTXMpaQAAAAJ"
      ],
      "knowsAbout": ["Speech Technology", "Natural Language Processing", "Computational Linguistics", "Endangered Languages", "Machine Translation"],
      "alumniOf": {
        "@type": "EducationalOrganization",
        "name": "Universitat Pompeu Fabra"
      }
    }
    </script>
    {% endif %}

    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
    <link rel="dns-prefetch" href="//gc.zgo.at">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <link rel="alternate" type="application/atom+xml" title="Alp Öktem" href="/feed.xml">

    <link rel="stylesheet" href="/assets/css/academicons.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script data-goatcounter="https://alpoktem.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
